In [1]:
import sqlite3

# Create a connection to the SQLite database
conn = sqlite3.connect('data/employees.db')

In [2]:
# Create a cursor object
cursor = conn.cursor()

In [3]:
# SQL statements to create tables
create_tables = """
CREATE TABLE IF NOT EXISTS departments (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL
);

CREATE TABLE IF NOT EXISTS dept_emp (
    dept_id INTEGER,
    employee_id INTEGER,
    FOREIGN KEY (dept_id) REFERENCES departments (id),
    PRIMARY KEY (dept_id, employee_id)
);

CREATE TABLE IF NOT EXISTS dept_manager (
    dept_id INTEGER,
    employee_id INTEGER,
    FOREIGN KEY (dept_id) REFERENCES departments (id),
    PRIMARY KEY (dept_id, employee_id)
);

CREATE TABLE IF NOT EXISTS employees (
    id INTEGER PRIMARY KEY,
    birth_date DATE,
    first_name TEXT NOT NULL,
    last_name TEXT NOT NULL,
    gender TEXT,
    hire_date DATE
);

CREATE TABLE IF NOT EXISTS salaries (
    id INTEGER PRIMARY KEY,
    employee_id INTEGER,
    value REAL NOT NULL,
    start_date DATE,
    end_date DATE,
    FOREIGN KEY (employee_id) REFERENCES employees (id)
);

CREATE TABLE IF NOT EXISTS titles (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL
);
"""

# Execute the create table statements
cursor.executescript(create_tables)

# Commit the changes
conn.commit()

In [4]:
# CRUD Operations

# Create
def add_employee(birth_date, first_name, last_name, gender, hire_date):
    cursor.execute("INSERT INTO employees (birth_date, first_name, last_name, gender, hire_date) VALUES (?, ?, ?, ?, ?)",
                   (birth_date, first_name, last_name, gender, hire_date))
    conn.commit()

# Read
def get_employees():
    cursor.execute("SELECT * FROM employees")
    return cursor.fetchall()

# Update
def update_employee(employee_id, first_name=None, last_name=None, gender=None):
    if first_name:
        cursor.execute("UPDATE employees SET first_name = ? WHERE id = ?", (first_name, employee_id))
    if last_name:
        cursor.execute("UPDATE employees SET last_name = ? WHERE id = ?", (last_name, employee_id))
    if gender:
        cursor.execute("UPDATE employees SET gender = ? WHERE id = ?", (gender, employee_id))
    conn.commit()

# Delete
def delete_employee(employee_id):
    cursor.execute("DELETE FROM employees WHERE id = ?", (employee_id,))
    conn.commit()

In [5]:
# Example usage
add_employee('1990-01-01', 'John', 'Doe', 'M', '2020-01-01')
print(get_employees())

[(1, '1990-01-01', 'John', 'Doe', 'M', '2020-01-01')]

In [9]:
update_employee(1, first_name='Jane')
print(get_employees())

[(1, '1990-01-01', 'Jane', 'Doe', 'M', '2020-01-01')]

In [10]:
delete_employee(1)
print(get_employees())

[]

In [6]:
# Close the connection
conn.close()